@import '../../_colors.scss';
@import '../../components/_gradient.scss';
@import '../../resets';
@import '../../typography';

:root {
    --width: 270px;
    --height: 150px;

    --lateral-transition-duration: 200ms;
    --vertical-transition-duration: 300ms;
}

$card-container-padding-Y: 20px;
$form-container-padding-Y: 40px;
$form-container-padding-X: 15px;

#gradient-bg {
	display: flex;
	justify-content: center;
	align-content: center;
	padding: $card-container-padding-Y 0;
	margin: 0;
	@include gradient('to bottom, #{$dark-blue}, #{$grayish-blue}');

	& #cards-container{
		align-self: center;
		width: var(--width);
		height: var(--height);
		border: 2px solid red;
	}
}

#form-container {
	display: flex;
	justify-content: center;
	align-content: center;
	height: calc(100vh - 2 * (#{$card-container-padding-Y} + #{$form-container-padding-Y}) - var(--height));
	padding: $form-container-padding-Y $form-container-padding-X;

	& form{
		width: 90%;
		// align-self: center;

		& #sliders{
			width: 500%;
			height: max-content;
			display: flex;
			box-sizing: border-box; 

			&>div{
				margin: auto 10px;
				padding: 35px 10px;
				width: 20%;
				flex: 1;
			}

			&>div:not(:first-child), &>div:not(:last-child){
				border: 2px solid red;
			}
		} 
	}

	#sliders>div{
		& .form-control{
			display: flex;
			flex-direction: column;
			margin-bottom: 20px;

			color: var(--color-5);
			font-family: 'Roboto';
			box-sizing: border-box; 
			
			& label{
				margin: 0px 0 5px 3px;

				font-size: 20px;
				font-weight: bold;
				letter-spacing: 1.3px;
				word-spacing: 3px;
			}

			& input, & textarea{
				width: 100%;
				padding: 5px 6px 5px 15px;
				border-radius: 5px;
				border: 1px solid (var(--color-5));
				box-sizing: border-box;
				// color: var(--color-5);
			}
		}

	}
}