$desaturated-blue: #2840f8;
$mid-blue-purple: #8870b0;
$grayish-blue: #383860;
$very-dark-blue: #000020;
$dark-blue: #000423;

:root {
  --color-1: #{$desaturated-blue};
  --color-2: #{$mid-blue-purple};
  --color-4: #{$very-dark-blue};
  --color-3: #{$grayish-blue};
  --color-5: #{$dark-blue};
}